.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before {
  content: "";
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

.containerHome {
  width: 100%;
}
.containerAdv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerAdvertise {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 828px) {
  .containerAdvertise {
    flex-direction: column-reverse;
    margin: 1rem;
  }
}
@media (min-width: 829px) and (max-width: 1023px) {
  .containerAdvertise {
    flex-direction: column-reverse;
    margin: 1rem;
  }
}
