.headerContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.headerContainer .headerSubcontainer {
  width: 90%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.headerContainer .headerSubcontainer .logo {
  height: 4rem;
}
.headerContainer .headerSubcontainer .headerSearchbar {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.gencont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.openb,
.closeb {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.button {
  border: none;
  font-size: 2rem;
  color: var(--clr-4-B);
  margin: 0 1rem;
}
.button:hover {
  color: var(--clr-7-B);
}

.num {
  font-size: 20px;
  background-color: var(--clr-0);
  color: var(--clr-7-R);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  /* position: absolute;
    top:0; */
}

@media (max-width: 560px) {
  .headerContainer .headerSubcontainer .logo {
    display: none;
  }
}
@media only screen and (max-width: 880px) {
  .headerContainer .headerSubcontainer .logo {
    height: 2rem;
  }

  .openb {
    display: block;
    margin: -1rem 2.7rem 0 2rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-4-B);
    background-color: transparent;
    border: none;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-9-B);
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
    z-index: 100;
  }

  .responsive_nav {
    transform: none;
  }

  .nav .closeb {
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
    cursor: pointer;
  }
}

@media (min-width: 881px) and (max-width: 1024px) {
  .headerContainer .headerSubcontainer .logo {
    height: 3rem;
  }
  .reset,
  .s1,
  .new,
  .abt {
    font-size: 0.6rem;
    height: 1.2rem;
    padding: 0 0.2rem 0 0.2rem;
    width: 7rem;
  }
}
