@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;600;700&display=swap");
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  border: none;
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Sometype Mono", monospace;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

body.light {
  --background-color: var(--clr-0-B);
  --text-color: var(--clr-10);
  --box-shadow: 0 0 7px var(--clr-9);
  --border: 1px solid var(--clr-7-B);
}
body.dark {
  --background-color: rgb(51, 51, 51);
  --text-color: var(--clr-0);
  --box-shadow: 0 0 7px var(--clr-0);
  --border: 1px solid var(--clr-0);
}

#image {
  width: 100vw;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
}

code {
  font-family: Consolas;
}
:root {
  /* solid */
  --clr-0: rgb(255, 255, 255);
  --clr-1: rgb(248, 249, 250);
  --clr-2: rgb(233, 236, 239);
  --clr-3: rgb(222, 226, 230);
  --clr-4: rgb(206, 212, 218);
  --clr-5: rgb(173, 181, 189);
  --clr-6: rgb(108, 117, 125);
  --clr-7: rgb(73, 80, 87);
  --clr-8: rgb(52, 58, 64);
  --clr-9: rgb(33, 37, 41);
  --clr-10: rgb(7, 7, 7);
  /* glass 0.5*/
  --clr-0-05: rgba(255, 255, 255, 0.5);
  --clr-1-05: rgba(248, 249, 250, 0.5);
  --clr-2-05: rgba(233, 236, 239, 0.5);
  --clr-3-05: rgba(222, 226, 230, 0.5);
  --clr-4-05: rgba(206, 212, 218, 0.5);
  --clr-5-05: rgba(173, 181, 189, 0.5);
  --clr-6-05: rgba(108, 117, 125, 0.5);
  --clr-7-05: rgba(73, 80, 87, 0.5);
  --clr-8-05: rgba(52, 58, 64, 0.5);
  --clr-9-05: rgba(33, 37, 41, 0.5);
  --clr-10-05: rgba(7, 7, 7, 0.5);
  /* glass 0.25*/
  --clr-0-025: rgba(255, 255, 255, 0.25);
  --clr-1-025: rgba(248, 249, 250, 0.25);
  --clr-2-025: rgba(233, 236, 239, 0.25);
  --clr-3-025: rgba(222, 226, 230, 0.25);
  --clr-4-025: rgba(206, 212, 218, 0.25);
  --clr-5-025: rgba(173, 181, 189, 0.25);
  --clr-6-025: rgba(108, 117, 125, 0.25);
  --clr-7-025: rgba(73, 80, 87, 0.25);
  --clr-8-025: rgba(52, 58, 64, 0.25);
  --clr-9-025: rgba(33, 37, 41, 0.25);
  --clr-10-025: rgba(7, 7, 7, 0.25);

  /* solid red */
  --clr-0-R: #ffc800;
  --clr-1-R: #ffb400;
  --clr-2-R: #ffa000;
  --clr-3-R: #ff8c00;
  --clr-4-R: #ff7800;
  --clr-5-R: #ff6400;
  --clr-6-R: #ff5000;
  --clr-7-R: #ff3c00;
  --clr-8-R: #ff2800;
  --clr-9-R: #ff1400;
  --clr-10-R: #ff0000;
  --clr-11-R: rgb(117, 0, 0);
  --clr-12-R: linear-gradient(
    90deg,
    rgba(117, 0, 0, 1) 0%,
    rgba(159, 0, 0, 1) 19%,
    rgba(190, 0, 0, 1) 39%,
    rgba(227, 0, 0, 1) 74%,
    rgba(254, 0, 0, 1) 100%
  );

  --clr-0-B: rgba(202, 240, 248, 1);
  --clr-1-B: rgba(173, 232, 244, 1);
  --clr-2-B: rgba(144, 224, 239, 1);
  --clr-3-B: rgba(72, 202, 228, 1);
  --clr-4-B: rgba(0, 180, 216, 1);
  --clr-5-B: rgba(0, 150, 199, 1);
  --clr-6-B: rgba(0, 119, 182, 1);
  --clr-7-B: rgba(2, 62, 138, 1);
  --clr-8-B: rgba(3, 4, 94, 1);
  --clr-9-B: rgba(3, 4, 85, 1);
}
